{% extends 'base.html' %}
{% block title %}
    About
{% endblock title %}
{% block body %}<br>
<img src="/static/me.jpg" alt="An Image" style="display: block; width: 20%; height: 20%; margin: auto; border: 2px solid black;">
<div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-left"><br>

        <p>Hi! I am SIDDHARTH KAUSHIK, a computer science undergraduate who loves to learn and use new technologies in field of Computer Science. <br>I am a full stack web-developer, I also love to develop new things using Python as a programming language.<br>I also love to create beautiful designs. I am a fast learner.<br> I am currently looking for internships to gain real-world experience in IT field.</p><hr>
        <p>Name- Siddharth Kaushik</p>
        <p>Phone no.- 9119036866</p>
        <p>Email-<a href="mailto:studentsid09@gmail.com">studentsid09@gmail.com</a></p>
        <p>Address- Sharma Hospital, Near Kotwali, Siyana, Distt. Bulandshahar, Uttar Pradesh, India. Pin-203412</p>
        <p><a href="https://drive.google.com/file/d/1wtyX3ExjsMuyli_RLwR58ouUE9ZeHW52/view?usp=share_link">Resume</a>
    <a href="https://www.linkedin.com/in/siddharth-kaushik-a7647b233">LinkedIn</a>
    <a href="https://github.com/SID-KAUSHIK09">Github</a></p>
      </div>
    </div>
  </div>
{% endblock body %}