{% extends 'base.html' %}
{% block title %}
    Accomlishments
{% endblock title %}
{% block body %}
<div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-left">
        <h3 class="h3">Hackathons</h3>
        <p><li>5th position in Datahacks 2.0, IIT Madras.</li>
          <div class="image-column">
            <img src="/static/hack.png" alt="An Image" style="display: block; width: 50%; height: 50%; margin: auto;">
          </div>
        <li>Within top 8 positions out of 640 registered participants in Paradigm,E-Summit 23 Shiv Nadar University.</li>
    <li>In top 30 out of 896 registered participants in Wells Fargo Hackathon.</li></p><hr>
    <h3 class="h3">Presentation</h3>
    <p><li>Second best presentation award on National Mathematics Day at college.</li></p>
    <div class="image-column">
      <img src="/static/Presentation.png" alt="An Image" style="display: block; width: 50%; height: 50%; margin: auto;">
    </div><hr>
    <h3 class="h3">Leadership</h3>
    <p><li>Group Leader, Bandipur House, IIT Madras (2020- Present).</li></p>
    <div class="image-column">
      <img src="/static/leader.png" alt="An Image" style="display: block; width: 50%; height: 50%; margin: auto;">
    </div>
      </div>
    </div>
  </div>
{% endblock body %}