{% extends 'base.html' %}
{% block title %}
    Certifications
{% endblock title %}
{% block body %}
<div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-left">
        <h3 class="h3">Virtual Experience Programs</h3>
        <p><li>Developer Virtual Experience Program, Accenture.</li>
          <div class="image-column">
            <img src="/static/acc.png" alt="An Image" style="display: block; width: 50%; height: 50%; margin: auto;">
          </div>
        <li>Software Engineering Virtual Experience Program, Goldman Sachs.</li></p>
        <div class="image-column">
          <img src="/static/gol.png" alt="An Image" style="display: block; width: 50%; height: 50%; margin: auto;">
        </div><br><br><hr>
        <h3 class="h3">Academics/Skills</h3>
        <p><li>Python Programming Language.</li>
          <div class="image-column">
            <img src="/static/py.png" alt="An Image" style="display: block; width: 50%; height: 50%; margin: auto;">
          </div>
        <li>Foundation Completion Certificate.</li></p>
        <div class="image-column">
          <img src="/static/fo.png" alt="An Image" style="display: block; width: 50%; height: 50%; margin: auto;">
        </div>
      </div>
    </div>
  </div>
{% endblock body %}