{% extends 'base.html' %}
{% block title %}
    Designs
{% endblock title %}
{% block body %}
<div class="text-column" style="display: block; width: 50%; height: 50%; margin: auto;"><br>
  <h3>Some of my designs</h3>
</div><br>

    <div class="image-column">
        <img src="/static/nike.png" alt="An Image" style="display: block; width: 50%; height: 50%; margin: auto;">
      </div>
      <div class="text-column" style="display: block; width: 50%; height: 50%; margin: auto;">
        <p>Sample NIKE Shoes e-commerce page</p>
      </div><br><br>
      <div class="image-column">
        <img src="/static/game.png" alt="An Image" style="display: block; width: 50%; height: 50%; margin: auto;">
      </div>
      <div class="text-column" style="display: block; width: 50%; height: 50%; margin: auto;">
        <p>Sample Game Remote selling page</p>
      </div><br><br>
      <div class="image-column">
        <img src="/static/icon.png" alt="An Image" style="display: block; width: 50%; height: 50%; margin: auto;">
      </div>
      <div class="text-column" style="display: block; width: 50%; height: 50%; margin: auto;">
        <p>Sample Frosted Glass Icon</p>
      </div><br><br>
      <div class="image-column">
        <img src="/static/uber.png" alt="An Image" style="display: block; width: 50%; height: 50%; margin: auto;">
      </div>
      <div class="text-column" style="display: block; width: 50%; height: 50%; margin: auto;">
        <p>Sample Uber Mobile App interface</p>
      </div>
{% endblock body %}