{% extends 'base.html' %}
{% block title %}
    Education
{% endblock title %}
{% block body %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-left">
      <div class="image-column">
        <img src="/static/jay.png" alt="An Image" style="display: block; width: 20%; height: 20%; margin: auto;">
      </div>
      <h3 class="h3" style="text-align: center;">Bachelor of Technology (B.Tech)</h3>
      <h4 style="text-align: center;">Computer Science</h4>
      <h4 style="text-align: center;">(2024)</h4>
      <p style="text-align: center;">Jaypee Institute of Information Technology, Noida, Uttar Pradesh, India.</p><br><hr>
      <div class="image-column">
        <img src="/static/iit.png" alt="An Image" style="display: block; width: 20%; height: 20%; margin: auto;">
      </div>
      <h3 class="h3" style="text-align: center;">Online Bachelor of Science (BS)</h3>
      <h4 style="text-align: center;">Programming and Data Science</h4>
      <p style="text-align: center;">Indian Institute of Technology Madras, Chennai, Tamil Nadu, India.</p>
    </div>
  </div>
</div>

{% endblock body %}