{% extends 'base.html' %}
{% block title %}
    Experience
{% endblock title %}
{% block body %}
<div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-left"><br>
        <h3 class="h3">Intern Product Development</h3>
        <h4>(01 Jan 2023-31 March 2023)</h4><br><br>
        <p>Doing an internship in Product Development at Secure Learning Pvt. Ltd., Mumbai, India.<br>Coding and documenting various capabilities under Learn India Learn stack.<br>Developing Python Scripts to automate the work.</p>
      </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
  
  
{% endblock body %}