{% extends 'base.html' %}
{% block title %}
    Projects
{% endblock title %}
{% block body %}
<div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-left">
        <h3 class="h3"></h3>
        <p></p>
        <h3 class="h3">Project 1 Agriculture Web App</h3>
        <p>Full Stack Web-Development Project, using Bootstrap in front end, Flask in back end and SQLite
            database.Querying of database is done.Various API are used.CRUD operations are also performed.</p>
            <a href="https://github.com/SID-KAUSHIK09/Agriculture-Web-App">Github Link</a><br>
            <a href="https://docs.google.com/presentation/d/1KqmfLH3jCYM9CtkNXb4-X33gYygU29wL/edit?usp=share_link&ouid=112297803740019309730&rtpof=true&sd=true">PPT</a>
<br><br><hr>
        <h3 class="h3">Project 2 Audio steganography</h3>
        <p>Information Security Project, using Python Libraries.Text is encrypted in an image which is made
            as cover of an audio. Decryption of text is done from audio file using a temporary image.</p>
            <a href="https://github.com/SID-KAUSHIK09/Audio-Steganography">Github Link</a><br><a href="https://docs.google.com/presentation/d/1bE_PmKu6StJpkgCM2y8KRck5n0r1OsM-/edit?usp=share_link&ouid=112297803740019309730&rtpof=true&sd=true">PPT</a><br><br><hr>
            <h3 class="h3">Project 3 Bulk Mailer</h3>
            <p>AWeb-app created using Python that accepts an Excel file as input containing receivers’ email-IDs
                in bulk and sends emails instantly or at any specified time.</p>
                <a href="https://github.com/SID-KAUSHIK09/Bulk-mail">Github Link</a><br>
                <a href="https://docs.google.com/presentation/d/10_vnD5VIjCNUxQyH40X_VzjiAkBdphOT/edit?usp=share_link&ouid=112297803740019309730&rtpof=true&sd=true">PPT</a><br>
                <a href="https://siddharthkaushik.pythonanywhere.com/">Hosted Website Link</a><br><a href="https://drive.google.com/file/d/1ok1s7oXwm4V2IJEyFOnw3TR9fJcBCpsp/view?usp=share_link">Video</a>

      </div>
    </div>
  </div>
{% endblock body %}