{% extends 'base.html' %}
{% block title %}
    Skills
{% endblock title %}
{% block body %}
<div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-left">
        <h3 class="h3">Programming Languages</h3>
        <p><ul><li>Python</li><li>C++</li></ul></p>
        <h3 class="h3">Web Development</h3><p>
        <ul><li>HTML, CSS, JavaScript, React ,Bootstrap, Jinja</li></ul>
        <ul><li>Flask, Node.js, Express</li></ul>
        <ul><li>SQLite Database, MongoDB</li></ul></p>
        <h3 class="h3">Course work</h3><p>
            <ul><li>Data Structures and Algorithms</li></ul>
            <ul><li>DataBase Management Systems(DBMS)</li></ul></p>
            <ul><li>SQL Queries</li></ul>
            <ul><li>Operating Systems</li></ul>
        <h3 class="h3">Operating Systems</h3><p>
            <ul><li>Windows</li></ul>
            <ul><li>Linux (Ubuntu) Programming</li></ul></p>
            <h3 class="h3">Other Skills</h3><p>
                <ul><li>Web Scraping</li></ul>
                <ul><li>UI/UX Designs</li></ul>
                <ul><li>Leadership, Team Work, Problem Solving, Communication Skills</li></ul></p>
            <h3>Languages I am fluent in</h3><p>
                <ul><li>English, Hindi</li></ul>
            </p>
            
            
      </div>

    </div>
  </div>
{% endblock body %}